header{
    font-family: Arial, sans-serif;
}

/* color del fondo columna izquierda */

.bg-primary{
    background-color: #2c3e50 !important;
}

/* .imagen{
    max-width: 80%;
} */

/* Opacidad barra de progreso */
.progress{
    background-color: rgba(255, 255, 255, 0.2);
}

/* cambio color texto col dere */
.text-primary{
    color: #3498db !important; 
}